.cycle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cycle-button.start {
  background-color: var(--color-red);
}
.cycle-button.start:hover {
  background-color: var(--color-red-shadow);
}

.cycle-button.end {
  background-color: #4caf50;
}

@media (max-width: 768px) {
  .cycle-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
