@import '@fontsource/amatic-sc'; /* Importa el peso 400 por defecto */
@import '@fontsource/amatic-sc/700.css'; /* Importa el peso 700 */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: absolute;
  z-index: 999;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  display: flex;
  position: relative;
}

.principal-title {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.logo {
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  right: -40px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-content .input-search {
  flex: 1;
  margin: 0 20px;
}

.header-content .user-menu-button {
  margin-left: auto;
}

header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: var(--color-dark-blue);
  font-weight: bold;
  position: relative;
  padding: 10px 16px;
  display: flex;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: var(--color-dark-blue);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.non-auth-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.non-auth-links li {
  display: inline-flex;
}

@media (max-width: 768px) {
  .non-auth-links {
    gap: 0;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .input-and-user {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    align-items: stretch;
  }

  .input-search {
    width: 100%;
    margin: 10px 0;
  }

  .menu-button {
    align-self: flex-end;
  }
}
